

<ul *ngFor="let rental of rentals" class="list-group">
  <!-- <li *ngFor="let category of categories" class="list-group-item">{{category.categoryId}}</li> -->


  <!-- <li class="list-group-item">Rental Id : {{rental.id}} </li> -->

  <li (click)="setCurrentRental(rental)"
  routerLink = "/cars/rental/{{rental.carId}}"
   
  [class]="getCurrentRentalClass(rental)"> Car Id :{{rental.carId}}</li>
    <!-- <li class="list-group-item" >Customer Id : {{rental.customerId}}</li> -->


</ul>

<h5 *ngIf="currentRental">{{currentRental.id}} selected</h5>
